<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-support"></i> Service Desk Tasks
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-primary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Outlook Profile Creation</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-secondary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Wireless Issue</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-success theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Disk Cleanup</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-danger theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Reset Skype For Business</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-warning theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>PageFile Automation</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-info theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Report Automation</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-light theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Shared Folder & Permissions</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-dark theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Outlook Issues</h6>
        </div>
      </div>
    </div>
  </div>
</div>
