<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-2">
              <div class="card-body">
                <form #f = "ngForm">
                  <img src="assets/img/brand/cummins-vector-logo.svg"  alt="cummins-logo" style="width: 100%;height: 70px">
                  <h1 style="text-align: center;">Login</h1>
                  <p class="text-muted" style="text-align: center;">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)] = "selectedPolicy.username" name ="username" placeholder="Username" autocomplete="username" required ngModel>
                  </div>
                  <div class="input-group mb-4" style="margin-bottom: 1.0rem !important;">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)] = "selectedPolicy.password" placeholder="Password" name="password" autocomplete="current-password" required ngModel>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-globe"></i></span>
                    </div>
                    <select id="access" name="access" class="form-control" [(ngModel)] = "selectedPolicy.access" required >
                      <option value="Please Select">Please Select</option>
                      <option value="admin" name="admin">Admin</option>
                      <option value="sd" name="sd">Service Desk</option>
                      <option value="rds" name="rds">RDS</option>
                    </select>  
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="button" (click)="createOrUpdatePolicy(f)" class="btn btn-primary px-4" value="Login">
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
