<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Service Access Request Form - Admin
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="5">
                    <p style="text-align: center;font-size: 1.3rem;margin-bottom: 0rem;">ADMINISTRATOR USE ONLY BELOW
                    </p>
                  </th>
                </tr>
              </thead>
              <tbody style="font-weight: 500;">
                <tr>
                  <td width="35%;" style="vertical-align: middle;">Mail Message Sent To:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Summary of Mail Reply:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Change Tickets:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Problem Tickets:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Remote Desktop Exception:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Summary of Exception:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Internet Access Exception:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Summary of Exception:</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td>Task to Unix for GID/UID Attribute Value</td>
                  <td><input type="text" id="input-normal" name="input-normal" class="form-control"></td>
                </tr>
                <tr>
                  <td colspan="5">
                    <p style="float: left;font-size: 0.8rem;margin-bottom: 0rem;font-weight: 700;">Guidance for
                      Administrators:</p>
                    <p><br>
                      1. Is this service account request related to a MFG OU? If so, notify the MFG Site Lead before
                      group/user creation.<br>
                      2. Set the Service account to be a member of the g_ServiceAccountDenyLogOn.<br>
                      3. Update the Service Account tracker form located in I drive
                      “\\cidcsdfs01\cbs_data01$\Windows\Documentation\Active Directory\AD Delegation and Elevated
                      Access\Service Account Requests”<br>
                      4. For Service Account check “User cannot change password” tick box under "Account Options” in
                      "Service Account" properties in AD.<br>
                      5. Save Service Account Request Form (DOC) and Approval (PDF format) in I drive at
                      \\cidcsdfs01\cbs_data01$\Windows\Documentation\Active Directory\AD Delegation and Elevated
                      Access\Service Account Requests\Complete.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>